*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
}

/* menu  */

.main .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: safe; */
    align-items: left;
    color: #fff;
    background: linear-gradient(to right, #0f4108, #136409);
    width: 250px;
    height: 100%;
    padding-top: 7%;
    overflow: hidden;
}

.main .menu.active {
    width: 80px;
}

.main .menu .menu-item {
    display: flex;
    align-items: center;
}

.main .menu a {
    text-align: left;
    margin: 2px;
    margin-left: 20px;
    margin-right: 0px;
    padding: 5px 0px 5px 5px;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.main .menu a:hover {
    background-color: #cef1c9;
    color: black;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    padding: 5px 0px 5px 5px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.main .menu .menu-item.active {
    background-color: #fff;
    color: black;
    border-left: 10px solid #dd5c20;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    padding: 5px 0px 5px 10px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 16px;
    /* transition: all 0.3s ease-in-out; */
}

.main .menu .menu-item .icon ion-icon {
    font-size: 20px;
}

.main .menu .menu-item .icon,
.title {
    margin: 10px;
}

.container .body .body-item.active {
    display: block;
}

.container .body .body-item {
    display: none;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 30px;
}

.submenu a {
    color: #bdc3c7;
    padding: 8px 0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.submenu a:hover {
    color: #ffffff;
}

.submenu.active {
    display: flex;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}





.container{
    position: absolute;
    width: calc(100% - 250px);
    background: #fff;
    min-height: 100vh;
    left: 250px;
}
.container .navbar {
    /* position: fixed; */
    /* z-index: 10; */
    width: 100%;
    left: 0;
    height: 50px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    padding: 5px;
    /* justify-content: space-between; */
}

.container .navbar .user {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.container .navbar .user .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.container .navbar .user .welcome .name {
    font-size: 20px;
    padding: 5px;
}

.container .navbar .user .welcome .time {
    font-size: 16px;
}

.container .navbar ion-icon {
    font-size: 20px;
    margin: 10px;
    background-color: #a8dda1;
    color: #136409;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}

.container .navbar .top-box {
    display: flex;
    flex-direction: row;
    margin: 5px;
    /* position: fixed; */
    /* z-index: 2000; */
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.container .navbar .top-box .cart-icon {
    position: relative;
}

.container .navbar .top-box .cart-icon .total-cart {
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 1;
}

/* main section of body */

.container .body{
    position: absolute;
    width: calc(100% - 250px);
    background: #fff;
    min-height: 100vh;
    left: 0;
    top: 20%;
}
/* .container .body #dashboard{
    width: 100%;
} */
.container .body #dashboard .box-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-top: 20px; */
}
.body #dashboard .box-items .box{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3);
}
.body #dashboard .box-items .box .icon{
    padding: 20px;
    font-size: 50px;
    color: #14623D;
    margin: 10px;
    background-color: #a8ddc4;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #a8ddc4cd;
}
.body #dashboard .box-items .box .number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    width: 100%;
}
.body #dashboard .box-items .box .number p{
    font-size: 12px; 
    font-weight: 1px bold;
    text-align: center;
    color: #999;
}

/* table */

table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 10px;
}

thead {
    background: linear-gradient(to top, #0f4108, #136409);
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    color: white;
    text-align: center;
}

thead tr th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e6efeb;
}

tbody tr:hover {
    /* background-color: #f2f2f2; */
    cursor: pointer;
}

table button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #14623D;
    border: none;
    color: white;
    font-size: 16px;
}

table button:hover {
    background-color: #0c3d26;
    color: white;
    transition: all 0.3s ease-in-out;
}

table button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(to center, #0c3d26, #14623D);
}
